
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root {
    --background1: #E1F9FE;
    --background2: #CBE3E9;
    --darkColor: #283D3A;
}

* {
    margin: 0;
    box-sizing: border-box;
    outline: none;
    /* outline: 2px solid blue; */
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 0.625rem;
    scroll-behavior: smooth;
}

header {
    height: 100px;
    background-color: var(--darkColor); 
    display: flex;
    justify-content: center;
    padding: 10px;
    position: sticky;
    top: 0;
}

header img {
    height: 100%;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
}

main {
    padding: 50px 0;
}

section {
    margin-bottom: 30px;
}

/* -------- Input boxes ------------ */
.inputBox {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
}

.inputBox > * {
    margin-bottom: 20px;
}

.inputBox > div {
    display: flex;
    line-height: 2em;
}

.inputBox .label {
    margin-right: 10px;
}

.flex-grow {
    flex-grow: 1;
}

input {padding: .5em;}

.shaded-input {
    background: #FAFAFA;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.shaded-input:focus {
    background: white;
}

textarea {
    height: 15rem;
    resize: vertical;
    font-family: inherit;
    
}

.btn {
    align-self: center;
    border: 1px solid var(--darkColor);
    box-sizing: border-box;
    border-radius: 5px;
    padding: .5em 3em;
    background: none;
    cursor: pointer;
    transition: background-color 200ms;
}

.btn:hover {
    background-color: #283D3A;
}
.form-container {
    margin-top: 50px;
}

.mainForm {
    background: var(--background1);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), 
                3px 5px 2px rgba(0, 0, 0, 0.25) inset;
    border-radius: 20px;
}

/* =============== Timeline ============== */

.timeline .container {
    padding: 0 10px;
}

h1 {
    font-size: 3.6rem;
    color: #333;
    position: relative;
    align-self: center;
    margin-bottom: 20px;
}

h1::after {
    content: '';
    background-color: currentColor;
    position: absolute;
    width: 70%;
    height: 2px;
    left: 0;
    bottom: 0;
}

.id-search-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 1.5rem;
    align-items: center;
}

.id-search-container label {
    font-size: 1.8rem;
}

.id-search-container input {
    text-align: right;
    background: #E5E5E5;
    border: 1px solid #283D3A;
    box-sizing: border-box;
    border-radius: 5px;
    padding: .3em;
    width: 8em;
}

.id-search-container input:focus {
    background: white;
}

.icon-btn {
    width: 2.5rem;
    height: 2.5rem;

    background: #E5E5E5;
    border: 1px solid var(--darkColor);
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
}

.icon-btn img {
    height: 100%;
    pointer-events: none;
}

.icon-btn:hover {background: white;}
.icon-btn:active {background: #e5e5e5;}



/*=============== msgFeed ==================*/
#msgFeed {
    padding: 40px 10px;
}

.msg-block {
    background-color: var(--background1);
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.msg-container {
    padding: 10px 20px;
}

.msg-block-header {
    display: flex;
}

.msg-name {
    flex: 1;
    margin-bottom: 1em;
    font-size: 1.8rem;
}

.msg-body {
    line-height: 1.5em;
    white-space: pre-wrap;
}

.msg-delete-btn {
    justify-self: right;
    border: 1px solid #FA2002;
}
.msg-edit-btn {
    justify-self: right;
    margin-left: 30px;
}
.msg-block .icon-btn {
    width: 2.1rem;
    height: 2.1rem;
}

.msg-block .inputBox {
    background-color: var(--background2);
    border-radius: 0 0 10px 10px;
}

.msg-block .inputBox .buttons {
    align-self: center;
}

.cancelBtn {
    margin-left: 2em;
}

.timeline {
    position: relative;
}

#toTopBtn {
    position: sticky;
    left: 75vw;
    bottom: 80vh;
    margin-top: 100px;
}